<nav aria-label="Checkout progress">
  <ol>
    <li [class.complete]="deliveryComplete()" [class.current]="currentStep() === 1">
      <a
        class="step-link"
        routerLink="/checkout/delivery"
        [attr.aria-current]="currentStep() === 1 ? 'step' : null"
      >
        <span>1</span>
        <span i18n="@@delivery">Delivery</span>
      </a>
    </li>
    <li [class.complete]="paymentComplete()" [class.current]="currentStep() === 2">
      @if (deliveryComplete()) {
        <a
          class="step-link"
          routerLink="/checkout/payment"
          [attr.aria-current]="currentStep() === 2 ? 'step' : null"
        >
          <span>2</span>
          <span i18n="@@payment">Payment</span>
        </a>
      } @else {
        <span class="disabled" aria-disabled="true"
          ><span>2</span> <span i18n="@@payment">Payment</span></span
        >
      }
    </li>
    <li [class.current]="currentStep() === 3">
      @if (paymentComplete()) {
        <a
          class="step-link"
          routerLink="/checkout/review"
          [attr.aria-current]="currentStep() === 3 ? 'step' : null"
        >
          <span>3</span>
          <span i18n="@@review">Review</span>
        </a>
      } @else {
        <span class="disabled" aria-disabled="true"
          ><span>3</span> <span i18n="@@review">Review</span></span
        >
      }
    </li>
  </ol>
</nav>
